################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/HotelInventory/DesignTimeBuild
/src/.vs/HotelInventory/v15
src/.vs/HotelInventory/v16
